<div class="container">
  <% content_for :title, "Transactions" %>

  <h1 class="mb-4 text-center font-extrabold leading-none tracking-tight text-gray-800 md:text-5xl dark:text-white">
    Transactions
  </h1>

  </br>
  </br>
      
  <ul role="list" class="divide-y divide-gray-100">
    <% @transactions.each do |transaction| %>
      <li class="flex justify-between gap-x-6 py-5">
        <div class="flex min-w-0 gap-x-4">
          <img class="size-12 flex-none rounded-full bg-gray-50" src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?semt=ais_country_boost&w=740" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm/6 font-semibold text-gray-900">Sender</p>
            <p class="mt-1 truncate text-xs/5 text-gray-500"><%= transaction.sender %></p>
          </div>
        </div>
        <div class="flex min-w-0 gap-x-4">
          <img class="size-12 flex-none rounded-full bg-gray-50" src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?semt=ais_country_boost&w=740" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm/6 font-semibold text-gray-900">Receiver</p>
            <p class="mt-1 truncate text-xs/5 text-gray-500"><%= transaction.receiver %></p>
          </div>
        </div>
        <div class="flex min-w-0 gap-x-4">
          <img class="size-12 flex-none rounded-full bg-gray-50" src="https://files.coinswitch.co/public/coins/eth.png" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm/6 font-semibold text-gray-900">Deposit</p>
            <p class="mt-1 truncate text-xs/5 text-gray-500"><%= transaction.transfer_action_deposit %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
